<%= form_tag 'search/articles', :remote => true  do %>
	<%= text_field_tag 'search', nil, placeholder: 'Search by book title, programming language' %>
	<%= submit_tag 'Search' %>
<% end %>

<div class="search_results"></div>