<%= render partial: 'shared/article_actions' %>

<div class="clear">

<h1> List of Articles </h1>

<% @articles.each do |article| %>
	<%= render partial: 'shared/article_details', locals: {article: article} %>	
<% end %>

<%= will_paginate @articles %>