<% if current_user %>
	<div class="placeIt">
		<%= link_to "Create Article", new_article_path,  class: "btn btn-info" %>
		<%= link_to "My Articles", owned_articles_path,  class: "btn btn-info" %>
	</div>	
<% end %>